.container {
  display: flexblock;
  position: absolute;
  align-self: left;
}

.center {
  margin-right: 100% !important;
}

.buttonLink {
  border: none;
}

@media only screen and (max-width: 767px) {
  .end {
    text-align: center;
  }
  .out {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .end {
    text-align: right;
    justify-self: right;
    justify-content: right;
  }
  .in {
    display: none;
  }
}
