.paddings {
  padding: 0 2%;
}
.center {
  text-align: center;
  justify-content: center;
  justify-self: center;
}

.left {
  justify-content: left;
  justify-self: left;
}

.hidden {
  display: none;
}

.dropdown-menu {
  text-align: center !important;
}

.currentPosition {
  text-align: center !important;
}

.dropdownMenu {
  text-align: center !important;
}
.dropdown-menu {
  text-align: center !important;
}

.color {
  /* background-color: #f7f6e7 !important; */
  background-image: radial-gradient(farthest-side at 50%, #f7f6e7, #e7e6e1);
}

/* .height {
  height: 100vh !important;
} */

@media only screen and (max-width: 767px) {
  .header {
    font-size: 0.5rem;
  }
  .center {
    justify-content: center;
    justify-self: center;
  }
  .end {
    text-align: center;
  }
  .out {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .end {
    text-align: right;
    justify-self: right;
    justify-content: right;
  }
  .currentPosition {
    justify-content: center;
    /* margin-left: 3.5vw; */
  }
  .in {
    display: none;
  }
}
