.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: rgb(233, 233, 12);
}

.green {
  color: rgb(12, 218, 12);
}

.white {
  color: white;
}

.container,
.Time,
.Text {
  display: inline !important;
}

.Time,
.Text {
  position: relative;
}

.Time {
  background-color: black;
}
