.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: rgb(233, 233, 12);
}

.green {
  color: rgb(12, 218, 12);
}

.white {
  color: white;
}

.container,
.Time,
.Text {
  display: inline !important;
}

.Time,
.Text {
  position: relative;
}

.Time {
  padding: auto;
}

.timeBox {
  padding: 20px;
  display: inline;
  background-color: black;
}

@media screen and (min-width: 560px) {
  .Time {
    padding: 5px;
    font-size: xx-large;
  }
}

@media screen and (max-width: 400px) {
  .Time {
    padding: 5px;
  }
  .timeBox {
    padding: 10px;
  }
}
