@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  width: 20vw;
  height: 20vw;
  border: 30px solid #fafafa6b;
  border-top: 30px solid #4240401e;
  border-radius: 50%;
  animation: spinner 3s linear infinite;
  background-color: rgb(85, 80, 80);
  margin: auto;
}

.container {
  width: 100%;
  height: fit-content;
  margin: auto;
  position: static;
  margin-top: 10vw;
}
